PORT=5000
db_password = pipeanayaparada@1
MONGODB_URI=mongodb+srv://pipeanayaparada:<{db_password}>@georef26711.b11zbz4.mongodb.net/
JWT_SECRET=super_secret_key_loca
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
